<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">

<style type="text/css">
	::-webkit-scrollbar{display:none} 
	::-webkit-scrollbar{width:1px;height:1px} 
	::scrollbar{width:1px;height:1px}
	#ajax_prommotionLayout .swiper-wrapper {
	    font-size: 0;
	    white-space: nowrap;
	    overflow-x: auto;
	    overflow-y: hidden;
	    margin-right: -20.48px;
	    padding-right: 20.48px;
	}
	.swiper-pagination {
		width: 100%;
	}
	.swiper-pagination span{
		margin: 0 5px;
	}
</style>

<script type="text/javascript">
	(function() {
        var clientWidth = document.documentElement.clientWidth || window.innerWidth;
    	document.querySelector('html').style.fontSize = 100 * (clientWidth / 640) + 'px';
    }());
	
</script>