@import '../../colors';

body {
    margin: 0;
    padding: 0;
    font-size: 3vmin;
    font-family: Georgia, Times, "Times New Roman", serif;
    background-color: $dark-bg;
}


a {
    color: $secondary-bg;

    &:hover {
        color: $secondary-bg - 30;
    }
}

@for $i from 1 through 6 {
    h#{$i} {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;    
    }
}
